In [1]:
from whispr import *

In [57]:
"""
For user to change according to run
"""

#CSV file with source plate info. Columns are label, well, concentration, volume
source_plate = 'source_plates/220608_source_plate2.xlsx'
source_plate_df = pd.read_excel(source_plate, index_col = 0)
source_plate_df = source_plate_df[~source_plate_df['Well'].isna()]

filename = '220608_building_cascades_PL.csv'
# CSV file with output plate layout: columns labeled 1-12 and rows labeled A-H for 96 well plate
output_layout = 'plate_layouts/'+filename 
output_plate = pd.read_csv(output_layout, index_col = 0, dtype = str)

#CSV file with each reaction as rows and the volume of each input (columns) added to reach final reaction volume
filename = '220608-building-cascades_MT.csv'
mixing_table = 'mixing_tables/'+filename 
mixing_table_df = pd.read_csv(mixing_table, index_col = 0, dtype = str).fillna(0)

source_plate_type = '384PP_AQ_BP' 

checkInputs(source_plate_df, mixing_table_df,source_plate_type)

vol_table_df = generateVolumeTable(mixing_table_df, source_plate_df, rxn_vol = 2.5+1, total_vol = 3.5/2.5*10)

#specify rxn_vol (default = 2.5) and total_vol (default = 10) if you'd like to change the volume of each individual replicate or the total reaction volume
filename = '220608_building_cascades_EP.csv'
output_df = writeProtocol(source_plate_type, vol_table_df, output_plate,source_plate_df)
output_df.to_csv('protocols/'+filename,index = False)

['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7']
Volumes used from each well for this protocol:
{'A1': 45.8, 'B1': 1.8, 'B2': 4.95, 'B3': 8.45, 'B4': 0.05, 'B5': 0.8, 'B6': 1.35, 'C2': 0.9, 'D1': 1.45, 'D2': 1.85, 'D3': 2.4, 'D4': 0.2}

In [30]:
vol_table_df

,Label,Water,pRC029,pDA010.188,pDA309,pDA306,pDa303,pDA304,119.DA4,119.DA4_100x,119.DA4_1000x,pDA332,pDA320,pDA315,pDA334
0,E_0,3.025,0.15,0.15,1.075,0.0,0.0,0.0,0.0,NaN,NaN,0.2,0.2,0.2,0.0
1,E_1,2.85,0.15,0.15,1.075,0.0,0.0,0.0,NaN,0.175,NaN,0.2,0.2,0.2,0.0
2,B_0,3.2,0.15,0.15,1.075,0.0,0.0,0.0,0.0,NaN,NaN,0.05,0.2,0.175,0.0
3,B_1,3.025,0.15,0.15,1.075,0.0,0.0,0.0,NaN,0.175,NaN,0.05,0.2,0.175,0.0
4,B2_0,1.925,0.15,0.15,1.075,0.0,0.0,0.0,0.0,NaN,NaN,0.2,0.8,0.7,0.0
5,B2_1,1.75,0.15,0.15,1.075,0.0,0.0,0.0,NaN,0.175,NaN,0.2,0.8,0.7,0.0
6,D_0,3.325,0.15,0.15,1.075,0.0,0.0,0.0,0.0,NaN,NaN,0.2,0.075,0.025,0.0
7,D_1,3.15,0.15,0.15,1.075,0.0,0.0,0.0,NaN,0.175,NaN,0.2,0.075,0.025,0.0
8,I_0,1.675,0.15,0.15,1.075,0.0,0.0,0.0,0.0,NaN,NaN,0.2,0.5,1.25,0.0
9,I_1,1.5,0.15,0.15,1.075,0.0,0.0,0.0,NaN,0.175,NaN,0.2,0.5,1.25,0.0
10,c_0,4.675,0.15,0.15,0.0,0.025,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0
11,c_1,4.5,0.15,0.15,0.0,0.025,0.0,0.0,NaN,0.175,NaN,0.0,0.0,0.0,0.0
12,o_0,3.025,0.15,0.15,1.075,0.0,0.0,0.0,0.0,NaN,NaN,0.2,0.0,0.2,0.2
13,o_1,2.85,0.15,0.15,1.075,0.0,0.0,0.0,NaN,0.175,NaN,0.2,0.0,0.2,0.2
14,p1_0,3.425,0.15,0.15,0.0,0.0,1.075,0.0,0.0,NaN,NaN,0.2,0.0,0.0,0.0
15,p1_1,3.25,0.15,0.15,0.0,0.0,1.075,0.0,NaN,0.175,NaN,0.2,0.0,0.0,0.0
16,p2_0,3.225,0.15,0.15,0.0,0.0,0.0,1.075,0.0,NaN,NaN,0.2,0.2,0.0,0.0
17,p2_1,3.05,0.15,0.15,0.0,0.0,0.0,1.075,NaN,0.175,NaN,0.2,0.2,0.0,0.0
18,cnt,3.925,0.0,0.0,1.075,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0
19,blank,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0