In [1]:
from whispr import *

In [2]:
from whispr import *

"""
For user to change according to run
"""

#CSV file with source plate info. Columns are label, well, concentration, volume
source_plate = 'source_plates/buffer_source_plate_dummy.xlsx'
source_plate_df = pd.read_excel(source_plate, index_col = 0)
source_plate_df = source_plate_df[~source_plate_df['Well'].isna()]

filename = 'buffer_dummy.csv'
# CSV file with output plate layout: columns labeled 1-12 and rows labeled A-H for 96 well plate
output_layout = 'plate_layouts/'+filename 
output_plate = pd.read_csv(output_layout, index_col = 0, dtype = str)

#CSV file with each reaction as rows and the volume of each input (columns) added to reach final reaction volume
filename = 'buffer_dummy_MT.csv'
mixing_table = 'mixing_tables/'+filename 
mixing_table_df = pd.read_csv(mixing_table, index_col = 0, dtype = str).fillna(0)

source_plate_type = '384PP_AQ_BP' 

checkInputs(source_plate_df, mixing_table_df,source_plate_type)

vol_table_df = generateVolumeTable(mixing_table_df, source_plate_df, rxn_vol = 22.5, total_vol = 25, fill_with='HEPES')

#specify rxn_vol (default = 2.5) and total_vol (default = 10) if you'd like to change the volume of each individual replicate or the total reaction volume
filename = 'buffer_dummy_EP.csv'
output_df = writeProtocol(source_plate_type, vol_table_df, output_plate,source_plate_df, update_source_vol=source_plate)
output_df.to_csv('protocols/'+filename,index = False)

c:\Users\Diego Alba\Documents\GitHub\WHISPR\whispr.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  source_plate_df['Well'][component] = ','.join(source_well[1:]).replace(' ','')

Volumes used from each well for this protocol:
{'B2': 49.3, 'B3': 63.05, 'B4': 57.6, 'B5': 53.5, 'B6': 51.45, 'B7': 50.55, 'B8': 50.1, 'B9': 53.95, 'B10': 55.875, 'B11': 55.875, 'B12': 55.875, 'B13': 18.625, 'A1': 21.6, 'A2': 4.5, 'A3': 33.3, 'A4': 9.0, 'A5': 46.2, 'A6': 0.9, 'A7': 3.75, 'A8': 50.0, 'A9': 25.0}

In [17]:
source_plate

,Label,Well,Concentration,Volume
Item,,,,
Water,Water,B1,NaN,65
HEPES,HEPES,"B2,B3, B4,B5,B6,B7,B8,B9,B10,B11,B12, B13,B14",NaN,"16.324999999999996,11.049999999999997,65.0,65...."
Biotin,Biotin,A1,40.95,61.4
Pyruvate,Pyruvate,A2,100.00,64.25
ATP,ATP_1x,A3,50.00,59.45
ATP,ATP_100x,A4,0.50,63.5
CoA,CoA,A5,13.00,57.3
Kan,Kan,A6,1000.00,64.85
Mg-Act,Mg-Act,A7,200.50,64.375
HCT,HCT,"A8,A9",100.00,"52.5,65.0"

In [21]:
source_plate_df

,Label,Well,Concentration,Volume
Item,,,,
Water,Water,B1,NaN,65
HEPES,HEPES,"B2,B3, B4,B5,B6,B7,B8,B9,B10,B11,B12, B13,B14",NaN,"65,65,65,65,65,65,65,65,65,65,65,65,65,65"
Biotin,Biotin,A1,40.95,65
Pyruvate,Pyruvate,A2,100.00,65
ATP,ATP_1x,A3,50.00,65
ATP,ATP_100x,A4,0.50,65
CoA,CoA,A5,13.00,65
Kan,Kan,A6,1000.00,65
Mg-Act,Mg-Act,A7,200.50,65
HCT,HCT,"A8,A9",100.00,"65,65"