In [1]:
from whispr import *

In [3]:
%%capture

'''
To add:


* update volumes on source plate at end (requires better keeping track of volume used)

* better commenting, use of functions / improving of readability

'''

In [3]:
"""
For user to change according to run
"""

#CSV file with source plate info. Columns are label, well, concentration, volume
source_plate = 'source_plates/ECHO_source_plate_dummy.xlsx'
source_plate_df = pd.read_excel(source_plate, index_col = 0)

filename = '211021-titrations-test1.csv'
# CSV file with output plate layout: columns labeled 1-12 and rows labeled A-H for 96 well plate
output_layout = 'plate_layouts/'+filename 
output_plate = pd.read_csv(output_layout, index_col = 0, dtype = str)

#CSV file with each reaction as rows and the volume of each input (columns) added to reach final reaction volume
mixing_table = 'mixing_tables/'+filename 
mixing_table_df = pd.read_csv(mixing_table, index_col = 0, dtype = str).fillna(0)

source_plate_type = '384PP_AQ_BP' 

checkInputs(source_plate_df, mixing_table_df,source_plate_type)

vol_table_df = generateVolumeTable(mixing_table_df, source_plate_df)

#specify rxn_vol (default = 2.5) and total_vol (default = 10) if you'd like to change the volume of each individual replicate or the total reaction volume
output_df = writeProtocol(source_plate_type, vol_table_df, source_plate_df, output_plate,source_plate_df)
filename = '211021-titrations-test1_dummy.csv'
output_df.to_csv('protocols/'+filename,index = False)

In [3]:
vol_table_df

,Label,Water,TJ1_RFP,TJ1_RFP_100x,TJ1_RFP_1000x,pDA010.188,pRC029,pRC014,pRC008.206,pRC008.206_100x,pRC008.206_1000x,pRC008.206_10000x
0,scRNA_1,0.875,0.0,NaN,NaN,0.2,0.2,0.325,0.9,NaN,NaN,NaN
1,scRNA_2,1.675,0.0,NaN,NaN,0.2,0.2,0.325,0.1,NaN,NaN,NaN
2,scRNA_3,1.675,0.0,NaN,NaN,0.2,0.2,0.325,NaN,0.1,NaN,NaN
3,scRNA_4,0.875,0.0,NaN,NaN,0.2,0.2,0.325,NaN,NaN,0.9,NaN
4,scRNA_5,1.675,0.0,NaN,NaN,0.2,0.2,0.325,NaN,NaN,0.1,NaN
5,scRNA_6,1.675,0.0,NaN,NaN,0.2,0.2,0.325,NaN,NaN,NaN,0.1
6,TJ1_1,2.275,0.225,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN
7,TJ1_2,2.475,0.025,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN
8,TJ1_3,2.275,NaN,0.225,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN
9,TJ1_4,2.475,NaN,0.025,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN
10,Blank,2.5,0.0,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN